:root{
    --hive-purple: #9730FF;
    --purple: #B71DFF;
    --gradient-purple: rgba(183, 29, 255, 0.2);
    --gradient-purple-soft: rgba(183, 29, 255, 0.05);
    --light-gray: #EEEEEE;
    --light-gray-2: #C8C8C8;
    --hive-black: #1A1225;
}

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;400;500;600&display=swap');

/* Satoshi-Bold */
@font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Bold.otf') format('woff2'),
         url('fonts/Satoshi-Bold.otf') format('woff'),
         url('fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    height: 112vh;
    padding-left: 70px;
    /* circular purple gradient background */
    background: radial-gradient(circle at center 500px, var(--gradient-purple) 0%, rgba(128, 0, 128, 0) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid var(--light-gray);
    background: radial-gradient(circle, var(--gradient-purple-soft) 0%, rgba(128, 0, 128, 0) 80%);
}

.header h1 {
    color: var(--hive-purple);
    font-family: 'Satoshi', sans-serif;
    padding-left: 71px;
    font-size: 34px;
}

/* logo styling */
.header img {
    width: 48px;
    height: 48px;
}

.tagline h1 { 
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 48px; 
    font-weight: 400; 
    transform-origin: left center; 
    padding-top: 168px;
}

/* tools section with grid layout */
.tools {
    padding-top: 60px;
    width: 1220px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns with identical length */
    justify-content: center;
    grid-gap: 40px;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    padding-top: 105px;
}

/* general button styling */
.button {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: box-shadow 0.5s ease, transform 0.5s ease;
}

.back-button {
    padding: 17px 34px;
    background-color: white;
    color: var(--hive-black);
    border: 1px solid var(--light-gray-2);
}

.finish-button {
    padding: 17px 44px;
    background-color: var(--hive-black);
    color: white
}

/* 'lift' effect when hovered */
.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}